.App {
  padding-top: 5rem;
  min-height: 100vh;
}
.navbar {
  background-color: red;
  color: white;
  -moz-user-select: none;
  -website-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}
.card {
  -moz-user-select: none;
  -website-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}
img.list {
  width: 148px !important;
  height: auto;
}
img.single {
  width: 300px;
  height: auto;
}

.card.list:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
a.navbar-brand {
  font-size: 24px;
}
